name: Trigger auto deployment for blog

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/blog-AutoDeployTrigger-72c79152-574b-4dfd-945f-db26fa591d08.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.BLOG_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.BLOG_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.BLOG_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: triforkai.azurecr.io
          registryUsername: ${{ secrets.BLOG_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.BLOG_REGISTRY_PASSWORD }}
          containerAppName: blog
          resourceGroup: trifork-ai
          imageToBuild: triforkai.azurecr.io/blog:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


